#wspup_wrapper{
	margin: 0;
	padding: 0;
	background-image: url('../img/pupbg.png');
	display: none;
	position: fixed;
	z-index: 99999;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}



.wspup_watermark a{
	color: #D0D0D0 !important;
	font-size: 8pt !important; 
}

.wspup_watermark{
	color: #D0D0D0 !important;
	font-size: 8pt !important; 
	position: absolute !important;
	bottom: 10px !important; 
	left: 10px !important;
	display: block !important;
}
#wspup_show_btn{
	/*margin: 13px;*/
}
#wspup_wrapper h1{
	font-size: 22pt; 
	font-family: Arial;
	text-shadow: none;
	margin-top: 20px;
}

#wspup_zipbox{
	padding: 10px;
}
.wspup_cart{
	width: 100%;
}
#wspup_selected_text{
	width: 100%; 
	margin-top: 20px;  
}
#wspup_selected_text p{
	margin: 2px;
	font-family: Arial;
}
.wspup_input{
	border:0; 
	padding:7px; 
	font-size:1.1em; 
	color:black; 
	border:solid 1px #ccc; 
	margin:0; 					
}

#wspup_zip{width:90px;}

#wspup_address{ width: 250px;}

.wspupOpeningHours{
	position: absolute;
	margin-left: 210px;
	margin-top: -140px;
	z-index: 9999999999;
	width: 200px;
	height: 200px;
	padding: 0px;
	background: #FFFFFF;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: #B0B0B0 solid 1px;
	color: black;
	text-align: left;
	font-size: 0.8em;
}

.wspupOpeningHours p{
	margin: 3px;
	font-family: Arial;
}
.wspupOpeningHours table{
	margin-left: 15px;
	line-height: 1.3;
	width: 187px;
	background: none; 
	margin-left: 15px;
	padding:0; 
}
.wspupOpeningHours td{
	padding:0;
	background: none;
	border: 0;
	font-size: 11pt;
	font-family: Arial;
}
.wspupOpeningHours tr{
	background: none;
	border: 0; 
}
.wspupOpeningHours h5{
	margin-left: 15px;
	font-size: 13pt;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Arial;
}
.wspupOpeningHours:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 49px 14px 49px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -14px;
	top: 50px;
}

.wspupOpeningHours:before{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 49px 14px 49px 0;
	border-color: transparent #B0B0B0;
	display: block;
	width: 0;
	z-index: 0;
	left: -15px;
	top: 50px;

}

/* Important rules used to overrule certain themes, which makes the button invisible - sorry */

#wspup_search_btn{
	background: none;
	border-radius: 0; 
	font-family: Arial;
	border:solid 1px #ccc !important; 
	padding:4px; 
	margin:0;  
	font-size:1.1em;
	font-weight:normal;
	color:#333 !important;
	box-shadow: none;
	cursor:pointer;	 

}

.pup_close{
	text-decoration: underline;
	cursor: pointer;
	position:absolute;
	top:5px;
	right:30px;
	font-size: 12pt;
	font-family: Arial;
}
.pup_close:hover{
	color: gray;
}

.wspup_selected{
	background-color: #6D748C;
	color: white;
}

#wspup_map:before, #wspup_map:after{
	 box-sizing: content-box; 
}



#wspup_container{
	text-align: center; 
	width: 800px;
	border: 1px solid #C8C8C8 ;
	margin: 0 auto;
	padding: 0;
	margin-top: 10px;
	background-color: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	vertical-align: baseline;
}
#wspup_search_now{
	height: 250px;
	text-align: center;
	width: 100%; 
}
#wspup_search_now span{
	font-size: 16pt;
	font-weight: bold;
	font-family: Arial;
}
#wspup_results{padding:0px; display: none;}
#wspup_select_list{
	height: 500px;
	width: 200px;
	margin: 0px;
	display: inline-block;
	vertical-align: top;
	overflow-y: scroll;
	overflow-x: hidden;
}
#wspup_select_list ol{
	list-style: none;
	padding: 0;
	margin: 0;

}
#wspup_select_list ol li > p{
	margin: 2px;
	font-size: 9pt;
	font-family: Arial;
}
#wspup_select_list ol li > a{
	margin: 2px;
	font-size: 9pt;
	color: black;
	font-family: Arial;
}
#wspup_select_list ol li > h6{
	font-size: 11pt;
	margin: 4px;
	font-family: Arial;
}
#wspup_select_list ol > li{
	width: 100%;
	margin: 0;
	margin-bottom: 7px;
	cursor: pointer;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
#wspup_select_list ol > li:hover{
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
#wspup_map{
	display: inline-block;
	border: 1px solid gray;
	margin:0px;
	width:590px;
	height: 500px;
	box-sizing: content-box;
}



#wspup_loader{
	display: none;	
	width: 100%; 
	text-align: center;
}
#wspup_noresults{
	display: none;	
	width: 100%; 
	text-align: center;
}
#wspup_noresults h3, #wspup_loader h3, #wspup_search_now h3{
	font-size: 14pt;
	font-family: Arial;
}

#accept_button p { 
	margin: 1px;
	font-size: 12pt;
	font-family: Arial;
}
#accept_button{
	background-color: #4e7d0e;
	background: -moz-linear-gradient(center top , #7db72f, #4e7d0e) repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: white;
	font-weight: bold;
    border: 1px solid #538312;
	width: 300px; 
	height: 55px;
	position: absolute;
	margin-top: -63px;
	margin-left: 495px;
	z-index: 999991;
	vertical-align: middle; 
	cursor: pointer;
	line-height: 1.58; 
	font-family: Arial;
}
.wspup_selected > a, .wspup_selected  > h6, .wspup_selected > p{
	color: white;
}
#accept_button:hover{
	text-decoration: underline;
}

.wspupOpnClose{
	position: absolute;
	color: black;
	right: 6px;
	top: 6px;
	font-size: 9pt;
	font-family: Arial;
	text-decoration: underline;
}


@media all and (min-width: 800px), all and (min-height: 600px) {
	#wspup_container{
		width: 800px;
	}

	#wspup_select_list{
		height: 500px;
		width: 200px;
	}

	#wspup_map{
		width:590px;
		height: 500px;
	}
	#accept_button p { margin: 0px;}
	#accept_button{

		margin-top: -63px;
		margin-left: 495px;
		font-size: 0.8em;
	}
}
@media all and (max-width: 800px), all and (max-height: 600px) {
	#wspup_select_list ol li > h6{
		font-size: 9pt;
	}

	#wspup_select_list ol li > p{
		font-size: 7pt;
	}
	#wspup_zip{width:40px;}
	#wspup_address{ width: 200px;}

	#wspup_wrapper h1{
		font-size: 17pt; 
	}
	#wspup_container{
		width: 400px;
	}

	#wspup_select_list{
		height: 280px;
		width: 110px;
	}

	#wspup_map{
		width:280px;
		height: 280px;
	}
	.wspup_input{
		padding: 7px;
		font-size: 0.8em;
		
	}

	#wspup_search_btn{
		border:solid 1px #ccc; 
		padding:4px; 
		margin:0;  
		font-size:0.8em;
	}

	#accept_button{
		width: 150px; 
		height: 40px;
		position: absolute;
		margin-top: -49px;
		margin-left: 245px;
		font-size: 0.8em;
		line-height: 1.4;

	}
	#accept_button p { margin: 0px; font-size: 10pt;}
	#wspup_search_now{height: 200px;}
	.pup_close{ font-size: 8pt; }
	
	.wspupOpeningHours{
		margin-left: 120px;
		font-size: 0.8em;
		height: 190px;
	}
}
@media all and (max-width: 500px) {

	#wspup_map{
		display: none;
	}
	#wspup_wrapper h1{
		font-size: 12pt; 
	}

	#wspup_container{
		width: 300px;
	}
	#accept_button{
		height: 40px;
		position: relative;
		display: block;
		margin: 5px;
		width: 288px;
	}
	#wspup_select_list ol, #wspup_select_list{
		width: 300px;
		height: 270px;
		display: block;
		position:relative;
	}
	.wspupSeeOpeningHour{ display: none; }
	#wspup_address { width: 150px; }

	.wspup_watermark{display: none !important;}
}


@media all and (max-height: 800px) and (max-width: 500px){

	#wspup_select_list ol li > p {
	    font-size: 6pt !important;
	}
	#wspup_container{
		max-height: 300px !important;
		height: 300px;
	}

	#wspup_address{
		width: 140px !important; 
	}
	#wspup_select_list ol, #wspup_select_list{
		width: 300px;
		height: 190px !important;
		display: block;
		position:relative;
	}

}



